# constants
constants
API_constant.py
DB_constant.py
FTP_constant.py
MAIL_constant.py

# email access
coaching_mail-address.txt

# photos
user_pictures

# db
coachingBotDB.db

# python
__pycache__
*.pyc
*.cpython-38.*

