# constants
constants
API_constant.py
DB_constant.py
FTP_constant.py
MAIL_constant.py
credentials.json

# photos
user_pictures

# db
coachingBotDB.db

# python
__pycache__/
*.pyc
*.cpython-38.*
__pycache__.

# bibs
IUG.bib

