# constants
constants
API_constant.py
DB_constant.py
FTP_constant.py
MAIL_constant.py


# calendar_credentials
credentials.json
credentials_old.json

# project
user_pictures
appointments

# db
coachingBotDB.db

# python
__pycache__/
*.pyc
*.cpython-38.*
__pycache__.

# bibs
IUG.bib

# API token
token.json
_Token-Archive
