<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>{{ title }}</h1>

            Overview of Coaching Session Sign Ups
            
            <h2>Customer list</h2>

            {% if customers|length > 0 %}
                <table border=1>
                <tr>
                    <th>Avatar</th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Biography</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Application Start</th>
                    <th>Completed Sign Up</th>
                    <th>Mail Sent</th>
                    <th>Appointment</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Gender</th>
                    <th>Birthdate</th>
                </tr>
                {% for cst in customers %}
                <tr>
                    <td><img src="{{ path + '/' + cst.0|string + '.jpg'}}" alt="User Image"></td> <!-- source data from app and access via variable name. Add path. Files need to be in 'static'- folder for now. -->
                    <td>{{ cst.0 }}</td>
                    <td>{{ cst.2 }}</td>
                    <td>{{ cst.3 }}</td>
                    <td>{{ cst.11 }}</td>
                    <td>{{ cst.7 }}</td>
                    <td>{{ cst.8 }}</td>
                    <td>{{ cst.1 }}</td>
                    <td>{{ cst.12 }}</td>
                    <td>{{ cst.13 }}</td>
                    <td>{{ cst.14 }}</td>
                    <td>{{ cst.9 }}</td>
                    <td>{{ cst.10 }}</td>
                    <td>{{ cst.4 }}</td>
                    <td>{{ cst.6 }}</td>
                </tr>
                {% endfor %}
            {% else %}
                No customer entries found.
            {% endif %}


        </div>

        <div>
            <h3>Coaching Sessions</h3>

            <iframe src="https://calendar.google.com/calendar/embed?src=84qo0c5ctm3e6p2cioh2c11iqc%40group.calendar.google.com&ctz=Europe%2FZurich" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </body>
</html>







<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <img src="{{ user_image }}" alt="User Image">
</body>
</html>
