<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>{{ title }}</h1>

            Web GUI for the Coaching Bot.

            <h2>Customer list</h2>

            {% if customers|length > 0 %}
                <table border=1>
                <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                </tr>
                {% for cst in customers %}
                <tr>
                    <td>{{ cst.2 }}</td>
                    <td>{{ cst.3 }}</td>
                    <td>{{ cst.6 }}</td>
                </tr>
                {% endfor %}
            {% else %}
                No customer entries found.
            {% endif %}


        </div>
    </body>
</html>
